h1 {
  text-align: center;
}

#title {
  font-size: 3em;
  text-decoration: underline;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: repeat(10, 4vw);
  grid-template-rows: repeat(10);

  padding-bottom: 30px;
}

.square {
  background: lightblue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.square-ship {
  background: gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.square-hit {
  background: red;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.square-miss {
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}
